<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Início" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Histórico" tabIcon="ios-list-box"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Info" tabIcon="information-circle"></ion-tab>
</ion-tabs>
