<ion-header>
  <ion-navbar>
    <ion-title><ion-icon name="alarm"></ion-icon> Contador de Missas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Bem Vindo ao Contador de Missas!</h2>
  <p>
    Feito no intuito de ajudar os guardas de igrejas a contar manualmente suas preseças!
  </p>
  <br><br><br><br>
	<div class="row" >
        <div  class="col">
           <button ion-button full  (click)="adicionaMissa()">
		   <br>
				Adicionar Missa
		   <br>
		   </button>
        </div>
    </div>
</ion-content>
